@import "tailwindcss";
@import "daisyui";

body {
  background-color: white;
  color: rgb(17 24 39);
  transition: background-color 0.2s, color 0.2s;
}

.dark body {
  background-color: rgb(17 24 39);
  color: rgb(243 244 246);
}

#root {
  min-height: 100vh;
  background-color: white;
}

.dark #root {
  background-color: rgb(17 24 39);
}
